.light {
  background: rgba(255, 243, 229);
  color: rgba(55, 25, 49);
  min-height: 100vh;
}

.dark {
  background: rgba(61, 60, 42);
  color: rgba(255, 243, 229);
  min-height: 100vh;
}

.card-skeleton {
  height: 280px;
  border-radius: 10px;
  background: #eee;
  padding: 10px;
}

.skeleton {
  background: linear-gradient(90deg, #eee, #ddd, #eee);
  background-size: 200% 100%;
  animation: loading 1.2s infinite;
}

/* .img {
  height: 150px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.line {
  height: 12px;
  margin: 8px 0;
  border-radius: 6px;
}

.line.short {
  width: 60%;
} */

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.hero {
  position: relative;
  height: 500px;
  background-image: url("/hero.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;

}

.hero-overlay {
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.35);

  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;

  gap: 20px;
}

.hero-overlay h1 {
  color: white;

  font-size: 50px;
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: transparent;
  
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  border-bottom: 1px solid rgba(0,0,0,0.08);
}

.nav-links {
  display: flex;
  gap: 10px;
}

.nav-link {
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  color: #444;
  transition: 0.2s;
}

.nav-link:hover {
  color: #000;
}

.nav-link.active {
  color: #000;
  border-bottom: 2px solid #000;
}